.navbar-default {
    background-color: #B4C157;
}
.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-brand{
    color: black;
}

h4 {
    font-weight: bold;
}

.row {
    margin-top: 20px;

}

#summary {
    font-size: 18px;
}